* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://media.gq-magazin.de/photos/61ee69d96542c7602354f471/16:9/w_2560%2Cc_limit/peaky-blinders.jpeg");
}

header > h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3rem;
  color: #850f0f;
}

nav {
  display: flex;
  justify-content: space-around;
}
main {
  display: flex;
  justify-content: center;
}
video {
  /* position: -webkit-sticky; */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  box-sizing: border-box;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 1000px;
  margin-top: 20%;
  min-height: 100%;
  min-width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  margin-top: 20px;
  max-width: min-content;
  text-align: center;
  /* border : solid black;
  border-radius: 54% 0% 45% 0% / 47% 10% 16% 56% ; */

  border: 2px solid #802d2d;
}

.display-none {
  display: none;
}

.link-color {
  color: maroon;
  text-decoration: none;
  font-weight: 900;
}

